.App {
  font-family: sans-serif;
  text-align: center;
}

.img1 {
  height: 100px;
  width: 100px;
}
.flex-box {
  width: 200px;
  height: 200px;
  background-color: aqua;
  text-align: center;
  margin: 10px;
}
.small {
  background-color: aquamarine;
}
